#main-menu {
    background-color: #121a22;
    display: none;
    height: 100%;
    left: 0;
    padding-top: 0px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 990;
    text-align: center;
}

#main-menu ul {
    height: auto;
    margin: 0;
    overflow: hidden;
    position: relative;
    list-style-type: none;
    padding: 0;
    padding-bottom: 15px;
    top: 25%;
}

#main-menu ul li a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    font-size: 2.8rem;
}

#main-menu ul li a:hover {
    color: #40b2d9;
    text-decoration: none;
}

#main-menu ul li.logo {
    color: #fff;
    font-size: 48px;
}

#main-menu ul li.logo img {
    max-width: 12%;
    height: auto;
}

#main-menu.active {
    display: block;
}

#main-menu.active ul {
    top: 18%;
}

@media (max-width: 480px) {
    #main-menu ul li.logo img {
        max-width: 45%;
        height: auto;
    }
    #main-menu.active ul {
        top:15%;
    }
}