<nav id="nav-widget"></nav>
<section id="main-menu" class="row"></section>
<section id="content-section" class="fadeIn animated">
    <nav id="navbar-section" class="navbar navbar-default navbar-fixed-top"></nav>
    <header id="jumboTron" class="container header-img"></header>
    <section id="about" class="color dark-gray"></section>
    <section id="portfolio" class="portfolio-section color white"></section>
    <section id="contact" class="contact-section clearfix color light-blue"></section>
    <footer id="privacy-statement" class="container-fluid"></footer>
</section>