<nav id="navbar-section" ui-view="navbar@content" class="navbar navbar-default navbar-fixed-top"></nav>
<header id="jumboTron" ui-view="jumboTron@content" class="container header-img"></header>
<section id="about" ui-view="aboutMe@content" class="color dark-gray"></section>
<section id="portfolio" ui-view="portfolio@content" class="portfolio-section color white"></section>
<section id="contact" ui-view="contact@content" class="contact-section clearfix color light-blue"></section>
<footer id="privacy-statement" ui-view="privacy@content" class="container-fluid"></footer>