<div class="container" ng-controller="aboutCtrl as ac">
    <div class="about-me-wrapper col-lg-12">
        <header class="page-title">
            <h2 class="dropcap-large color">
                <span>{{::ac.model.header}}</span>
            </h2>
        </header>
        <article id="story">
            <h3 class="color white"></h3>
            <div ng-repeat="p in ac.model.paragraphItems">
                <p style="margin-bottom: 30px;">
                    {{::p.blob}}
                </p>
            </div>
            <p style="margin-bottom: 30px;" >
                <span class="dropcap color">S</span>
            </p>
        </article>
    </div>
</div>