<div class="container" ng-controller="contactCtrl as cc">
    <article class="col-lg-12">
        <header class="page-title">
            <h2 class="dropcap-large color"><span>Contact</span></h2>
        </header>
        <aside class="contact-info">
            <b>Steven Fulgham</b> •
            Email: stevenfulgham333@gmail.com
            <span class="sending-mail hide"><i class="fa fa-spinner spin">&nbsp;</i>Sending mail.</span>
        </aside>
        <section id="contact-form">
            <form method="post" name="emailForm" ng-submit="cc.submitEmail($event, emailForm.$valid)" novalidate>
                <fieldset>
                    <div class="control-group">
                        <div class="controls">
                            <span class="help-inline" ng-show="emailForm.name.$invalid && !emailForm.name.$pristine">Please insert your name.</span>
                            <input tabindex="4"
                                   id="name" name="name"
                                   type="text" value=""
                                   class="col-md-12"
                                   placeholder="name:"
                                   ng-model="cc.model.name"
                                   ng-class="{ 'error' : emailForm.name.$invalid && !emailForm.name.$pristine }"
                                   required>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <span class="help-inline" ng-show="emailForm.email.$invalid && emailForm.email.required">Please insert an email address.</span>
                            <span class="help-inline" ng-show="emailForm.email.$invalid && !emailForm.email.$pristine">Please enter a valid email address.</span>
                            <input tabindex="2"
                                   id="email"
                                   name="email"
                                   type="email" value=""
                                   class="col-md-12"
                                   placeholder="email:"
                                   ng-model="cc.model.email"
                                   ng-class="{ 'error' : emailForm.email.$invalid && !emailForm.email.$pristine }"
                                   required>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <span class="help-inline"></span>
                            <input tabindex="3" id="www" name="www" type="text" value=""
                                   class="col-md-12"
                                   placeholder="www:" ng-model="cc.model.www">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <span class="help-inline" ng-show="emailForm.message.$invalid && emailForm.message.$pristine"></span>
                        <textarea tabindex="3"
                                  class="input-xlarge col-md-12"
                                  id="message"
                                  name="body"
                                  rows="7"
                                  placeholder="message:"
                                  value=""
                                  ng-model="cc.model.message"
                                  ng-class="{ 'error' : emailForm.message.$invalid && !emailForm.message.$pristine }"
                                  required></textarea>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="btn-overlay">
                            <button tabindex="3" type="submit" class="btn btn-lg" ng-disabled="emailForm.$invalid">
                                <span>Send message</span>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>
    </article>
</div>